* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.card-row {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 10px auto;
}

.card {
	height: 150px;
	width: 23%;
	border-radius: 30px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(2, 0, 36);
	color: white;
	font-size: 2rem;
	z-index: 10;
	/* background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(8, 8, 114, 1) 11%,
		rgba(9, 9, 121, 1) 36%,
		rgba(0, 212, 255, 1) 83%
	); */
}

.hidden {
	display: none;
}

.front {
	pointer-events: none;
}

.back {
	color: green;
	height: 90%;
	z-index: 5;
	pointer-events: none;
	position: relative;
}

img {
	height: 90%;
}

.span-animal-name {
	display: inline-block;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	font-weight: bolder;
}

#score-and-all {
	display: flex;
	width: 50%;
	justify-content: space-between;
}

button {
	height: 50%;
	align-self: center;
	outline: none;
	border: none;
	background-color: #2ecc71;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	padding: 20px 10px;
	display: flex;
	align-items: center;
	width: 150px;
	justify-content: center;
}

button:hover {
	background-color: #27ae60;
}
